### Engenharia de dados 
- Criação de informações novas baseadas em um conjunto de dados brutos

### Base de dados de atletas em olimpiadas

In [7]:
import pandas as pd
import os

dados = pd.read_csv("base.csv")
print(dados.info())
dados['medalha'].fillna('sem_medalha',inplace=True)

#Inputado a idade dos atletas baseado na média do sexo, esporte e edicao participada
dados['idade'] = dados.groupby(['sexo','esporte','edicao'], sort=False)['idade'].apply(lambda x: x.ffill().bfill())
#Inputado a altura dos atletas baseado na média do sexo, esporte, idade e edicao participada
dados['altura'] = dados.groupby(['sexo','idade','esporte','edicao'], sort=False)['altura'].apply(lambda x: x.ffill().bfill())
#Inputado o peso dos atletas baseado na média do sexo, esporte, idade, altura e edicao participada
dados['peso'] = dados.groupby(['sexo','idade','altura','esporte','edicao'], sort=False)['peso'].apply(lambda x: x.ffill().bfill())
print(dados.shape)
n = dados['id_atleta'].nunique()
n = dados['pais'].nunique()
print(n)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269718 entries, 0 to 269717
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   269718 non-null  int64
 1   ano          269718 non-null  int64
 2   edicao       269718 non-null  object
 3   cidade_sede  269718 non-null  object
 4   pais         269348 non-null  object
 5   delegacao    269718 non-null  object
 6   equipe       269718 non-null  object
 7   id_atleta    269718 non-null  int64
 8   nome_atleta  269718 non-null  object
 9   sexo         269718 non-null  object
 10  idade        260410 non-null  float64
 11  altura       210917 non-null  float64
 12  peso         208204 non-null  float64
 13  esporte      269718 non-null  object
 14  evento       269718 non-null  object
 15  medalha      39772 non-null   object
dtypes: float64(3), int64(3), object(10)
memory usage: 32.9+ MB
None
(269718, 16)
205

### Grupo de perguntas 1
- Média de idade, altura, peso por edição por sexo
- Média de idade, altura, peso por edição, esporte e sexo
- Média de idade por delegação e esporte e sexo
- Média de idade por edição e delegação e esporte

#### Relevância 
- Encontrar delegações por idade e altura, podendo digirir campanhas especificas para venda de produtos especificos para difrentes publicos.
- Informações sobre altura e idade de equipes especificas por esporte, sendo bastante informativo em um cenário de comentario e curiosidades

In [8]:
dados['bin_medals'] = (dados['medalha']!='sem_medalha')&(dados[])).astype(int)
dados.columns
dados.drop(columns=['Unnamed: 0'], inplace=True)
dados.to_csv("dados_att.csv")

In [24]:
# Media de idade, altura, peso por edição
dados = dados.dropna()
media_iap_es = dados.groupby(['edicao','ano','sexo'])['idade','altura','peso'].mean().astype("int64")

media_iap_ese = dados.groupby(['edicao','ano','esporte','sexo'])['idade','altura','peso'].mean().astype("int64")

media_iap_des = dados.groupby(['edicao','pais','esporte','sexo'])['idade','altura','peso'].mean().astype("int64")

media_iap_edes = dados.groupby(['edicao','ano','pais','esporte','sexo'])['idade','altura','peso'].mean().astype("int64")

media_iap_edes.info()
if not os.path.exists("grupo1/"):
    os.mkdir('grupo1/')
    
    
media_iap_es.to_csv("grupo1/media_iap_es.csv")
media_iap_ese.to_csv("grupo1/media_iap_ese.csv")
media_iap_des.to_csv("grupo1/media_iap_des.csv")
media_iap_edes.to_csv("grupo1/media_iap_edes.csv")

C:\Users\boaro\AppData\Local\Temp/ipykernel_2008/3853057765.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  media_iap_es = dados.groupby(['edicao','ano','sexo'])['idade','altura','peso'].mean().astype("int64")
C:\Users\boaro\AppData\Local\Temp/ipykernel_2008/3853057765.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  media_iap_ese = dados.groupby(['edicao','ano','esporte','sexo'])['idade','altura','peso'].mean().astype("int64")
C:\Users\boaro\AppData\Local\Temp/ipykernel_2008/3853057765.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  media_iap_des = dados.groupby(['edicao','pais','esporte','sexo'])['idade','altura','peso'].mean().astype("int64")
C:\Users\boaro\AppData\Local\Temp/ipykernel_2008/3853057765.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  media_iap_edes = dados.groupby(['edicao','ano','pais','esporte','sexo'])['idade','altura','peso'].mean().astype("int64")

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 36133 entries, ('Summer', 1896, 'Australia', 'Athletics', 'M') to ('Winter', 2014, 'Zimbabwe', 'Alpine Skiing', 'M')
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   idade   36133 non-null  int64
 1   altura  36133 non-null  int64
 2   peso    36133 non-null  int64
dtypes: int64(3)
memory usage: 1.0+ MB

### Grupo 2
- Quantidade de atletas por edição sexo e delegação
- Desempenho do Brasil em relação ao numero de medalhas

In [74]:
#medalhas_epas =dados[dados['medalha']!='sem_medalha'].groupby(['edicao','pais','ano','sexo','esporte','evento'])['medalha'].value_counts().reset_index(name='qtd_medalhas')
medalhas_epas =dados[dados['medalha']!='sem_medalha'].groupby(['edicao','pais','ano','sexo','esporte','evento'])['medalha'].value_counts().reset_index(name='qtd_medalhas')

atleta_epas = dados.groupby(['edicao','pais','ano','esporte','sexo'])['id_atleta'].nunique().reset_index(name='qtd_atletas')
print(atleta_epas['qtd_atletas'][(atleta_epas['pais']=='Brazil') & (atleta_epas['ano']==2016)].sum())
print(medalhas_epas.shape)
print(atleta_epas.shape)

#qtd_medalhas_atletas.to_csv("qtd_medalhas_atletas.csv")
#medalhas_epas.to_csv("grupo2/medalha_epas.csv")
#atleta_epas.to_csv("grupo2/atleta_epas.csv")

462
(19141, 8)
(36456, 6)

8778

## Grupo 3
- Atletas com mais participações em olimpiadas
- Média de participações deu um atleta olimpico por esporte

In [12]:
atletas_participacoes = dados.groupby(['esporte','id_atleta']).apply(lambda x: x['ano'].nunique())
atletas_participacoes.to_csv("grupo3/atletas_part.csv")

### Grupo 4
- Maiores atletas vecedores de todos os tempos

In [17]:
query_aux = dados[dados['medalha']!='sem_medalha'].groupby(['id_atleta','esporte'])['medalha'].count().sort_values()
vencedores = dados[['esporte','id_atleta','nome_atleta']].merge(query_aux,how='left',on='id_atleta').dropna().drop_duplicates()
vencedores['medalha'] = vencedores['medalha'].astype("int64")

vencedores


#medalhas_epas =dados[dados['medalha']!='sem_medalha'].groupby(['edicao','pais','ano','sexo','evento','esporte','id_atleta'])['medalha'].value_counts()
#medalhas_epas.to_csv("grupo4/medalha_epas.csv")

          esporte  id_atleta                       nome_atleta  medalha
0       Athletics      35698        Edwin Harold "Teddy" Flack        1
1       Athletics      35698        Edwin Harold "Teddy" Flack        2
6          Tennis      35698        Edwin Harold "Teddy" Flack        1
7          Tennis      35698        Edwin Harold "Teddy" Flack        2
10       Swimming      48195                   Otto Herschmann        1
...           ...        ...                               ...      ...
269942     Boxing     122563                  Rustam Tulaganov        1
269947       Judo     123501                Diyorbek Urozboyev        1
269952     Boxing     135205   Shakhobiddin Shokirovich Zoirov        1
269988     Boxing      35443          Yoel Segundo Finol Rivas        1
270048  Athletics     102089  Yulimar del Valle Rojas Rodrguez        1

[28769 rows x 4 columns]